<%= form_with(model: collection, local: true, :html => {:multipart => true}, class: 'form-horizontal') do |form| %>
    <% if collection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

          <ul>
            <% collection.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :title, class: 'col-md-2' %>
      <%= form.text_field :title, id: :collection_title, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :description, class: 'col-md-2' %>
      <%= form.text_field :description, id: :collection_description, class: 'col-md-4' %>
    </div>

    <div class="form-group">
      <%= form.label :image, class: 'col-md-2' %>
      <%= form.file_field :image, class: 'col-md-4' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-default col-md-2 col-md-offset-2' %>
    </div>
<% end %>
