<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<p>
  <%= image_tag @collection.image_url(:thumb) if @collection.image? %>
</p>

<h2>Albums</h2>
<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @collection.albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= link_to 'Show', album_url(album) %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to "Destroy", album_path(album),
                        :method => :delete, :confirm => "Really?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Add a Album</h2>
<%= form_for([@collection, @collection.albums.build], :html => {:class => 'form-horizontal'}) do |f| %>
    <div class="field form-group">
      <%= f.label :title, class: 'col-md-2' %>
      <%= f.text_field :title, class: 'col-md-4' %>
    </div>
    <div class="field form-group">
      <%= f.label :description, class: 'col-md-2' %>
      <%= f.text_area :description, class: 'col-md-4' %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-default col-md-2 col-md-offset-2' %>
    </div>
<% end %>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
