<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  abc<%= @album.photos.length %>abc
</p>

<h2>Photos</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @album.photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>
        <td><%= photo.description %></td>
        <td><%= link_to 'Show', photo_url(photo) %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to "Destroy", photo_url(photo),
                        :method => :delete, :confirm => "Really?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Add a Photo</h2>
<%= form_for [@album, @album.photos.build], :html => {:multipart => true} do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', album_path(@album) %>
