<%= form_with(model: photo, local: true, :html => {:multipart => true, :class => 'form-horizontal'}) do |form| %>
    <% if photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
            <% photo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :name, class: 'col-md-2' %>
      <%= form.text_field :name, id: :photo_name, class: 'col-md-4' %>
    </div>
    <div class="field form-group">
      <%= form.label :photo, class: 'col-md-2' %>
      <%= form.file_field :photo, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :description, class: 'col-md-2' %>
      <%= form.text_area :description, id: :photo_description, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :path, class: 'col-md-2' %>
      <%= form.text_field :path, id: :photo_path, class: 'col-md-4' %>
    </div>


    <div class="field form-group">
      <%= form.label :date_time_original, class: 'col-md-2' %>
      <%= form.datetime_select :date_time_original, id: :photo_date_time_original, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :width, class: 'col-md-2' %>
      <%= form.number_field :width, id: :photo_width, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :height, class: 'col-md-2' %>
      <%= form.number_field :height, id: :photo_height, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :exposure_time, class: 'col-md-2' %>
      <%= form.text_field :exposure_time, id: :photo_exposure_time, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :f_number, class: 'col-md-2' %>
      <%= form.text_field :f_number, id: :photo_f_number, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :model, class: 'col-md-2' %>
      <%= form.text_field :model, id: :photo_model, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :make, class: 'col-md-2' %>
      <%= form.text_field :make, id: :photo_make, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :copyright, class: 'col-md-2' %>
      <%= form.text_field :copyright, id: :photo_copyright, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :iso_speed_ratings, class: 'col-md-2' %>
      <%= form.number_field :iso_speed_ratings, id: :photo_iso_speed_ratings, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :aperture_value, class: 'col-md-2' %>
      <%= form.text_field :aperture_value, id: :photo_aperture_value, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :max_aperture_value, class: 'col-md-2' %>
      <%= form.text_field :max_aperture_value, id: :photo_max_aperture_value, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :focal_length, class: 'col-md-2' %>
      <%= form.text_field :focal_length, id: :photo_focal_length, class: 'col-md-4' %>
    </div>

    <div class="field form-group">
      <%= form.label :album_id, class: 'col-md-2' %>
      <%= form.text_field :album_id, id: :photo_album_id, class: 'col-md-4' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-default col-md-2 col-md-offset-2' %>
    </div>
<% end %>
