<ol class="breadcrumb">
  <li><a href="<%= collection_path(@photo.album.collection) %>">Collection</a></li>
  <li><a href="<%= album_path(@photo.album) %>">Album</a></li>
  <li class="active">Photo</li>
</ol>

<div id="notice"><%= notice %></div>

<div class="row">
  <%= image_tag @photo.photo_url(:thumb) if @photo.photo? %>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Name:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.name %>
  </div>
</div>


<div class="row">
  <div class="col-md-2">
    <strong>Description:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.description %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Path:</strong>
  </div>
  <div class="col-md-4">
    <%= link_to 'image', @photo.photo.url %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Date time original:</strong>
  </div>

  <div class="col-md-4">
    <%= @photo.date_time_original %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Width:</strong>
  </div>

  <div class="col-md-4">
    <%= @photo.width %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Height:</strong>
  </div>

  <div class="col-md-4">
    <%= @photo.height %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Exposure time:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.exposure_time %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>F number:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.f_number %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Model:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.model %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Make:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.make %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Copyright:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.copyright %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Iso speed ratings:</strong>
  </div>

  <div class="col-md-4">
    <%= @photo.iso_speed_ratings %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Aperture value:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.aperture_value %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Max aperture value:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.max_aperture_value %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Focal length:</strong>
  </div>
  <div class="col-md-4">
    <%= @photo.focal_length %>
  </div>
</div>

<!--<div>-->
<!--<strong>Album:</strong>-->
<!--<%= @photo.album %>-->
<!--</div>-->

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', album_path(@photo.album) %>
